<div class="container-big-card">

  <figure class="big-card-photo">
    <img src="/assets/imgs/image_placehold.jpg" alt="Imagem da Noticia!">
  </figure>

  <div class="big-card-container-article">

    <header class="big-card-title">
      <h2>O que há de inovação no novo Angular?</h2>
    </header>

    <p class="big-card-description">
      Descubra o futuro da programação web com o Angular 17, onde inovações revolucionárias
      e melhorias significativas elevam a experiência de desenvolvimento. Explore as surpreendentes
      funcionalidades que prometem transformar a maneira como criamos aplicações front-end.
    </p>

  </div>

</div>
