<div class="container-small-card">
  <!-- <figure class="small-card-photo">
    <img src="/assets/imgs/image_placehold.jpg" alt="Imagem da Noticia Segundaria!">
  </figure> -->

  <div class="small-card-container-article">
    <header>
      <h2 class="samll-card-title">Evolução da Tecnologia atualmente!</h2>
    </header>

    <p>
      Explore a fascinante jornada da evolução tecnológica que está moldando o nosso presente e futuro.
      De avanços surpreendentes em inteligência artificial a inovações disruptivas,
      há um universo de descobertas esperando por você.
    </p>
  </div>
</div>
